<h2>Welcome to Flatiron Open Orders</h2>
<ol>
    <li>Order# <%= Random.rand(100000000) %></li>
    <li>Order# <%= Random.rand(100000000) %></li>
    <li>Order# <%= Random.rand(100000000) %></li>
    <li>Order# <%= Random.rand(100000000) %></li>
    <li>Order# <%= Random.rand(100000000) %></li>
</ol>